<section class="trayectoria">
    <div class="trayectoria-content">
        <h1 class="title">MI TRAYECTORIA</h1>

        <p class="description">Esta es mi trayectoria como desarrollador y las instituciones educativas donde me he
            formado, he tenido experiencias profesionales tanto en entornos <span class="hl">Front-End</span> como
            <span class="hl">Back-End</span>.
        </p>

        <div class="badge">
            <i class="fa-solid fa-briefcase me-1"></i>Trayec. Laboral
        </div>
        <div class="graph-container">
            <div class="timeline">

                <!-- Experiencia Eviden -->
                <div class="timeline-item">
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="timeline-details">
                                <div class="timeline-marker"><i class="fa-solid fa-building"></i></div>
                                <h4 class="company">Eviden</h4>
                                <span class="role">Desarrollador Full-Stack</span><br>
                                <span class="date">2024 - Sevilla, España</span>
                                <p class="mt-2">Prácticas como Desarrollador Full-Stack en proyectos internos de Eviden, utilizando
                                    Java (REST
                                    & Spring Boot) para el backend y Angular en el apartado frontend. Colaboración con
                                    equipos
                                    multidisciplinares en el diseño y desarrollo de soluciones escalables.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experiencia OVAN GmbH -->
                <div class="timeline-item">
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="timeline-details">
                                <div class="timeline-marker"><i class="fa-solid fa-building"></i></div>

                                <h4 class="company">OVAN GmbH</h4>
                                <span class="role">Desarrollador Front-End</span><br>
                                <span class="date">2022 - Berlín, Alemania</span>
                                <p class="mt-2">Prácticas internacionales con beca Erasmus+ en una empresa de desarrollo web (Front-End) en
                                    Berlín. Trabajo con WordPress, HTML, Sass y PHP, integrándome en un equipo
                                    internacional y colaborando en proyectos reales para clientes internacionales.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="badge">
            <i class="fa-solid fa-graduation-cap me-1"></i>Trayec. Educacional
        </div>
        <div class="education-container">

            <div class="education">
                <div class="education-img">
                    <span class="img svgV"></span>
                </div>
                <div>
                    <h3>2020-2022</h3>
                    <h1>Escuela Profesional Vedruna</h1>
                    <p class="date">CFGS Desarrollo de Aplicaciones Multiplataforma (DAM)</p>
                </div>
            </div>
            <div class="education">
                <div class="education-img">
                    <span class="img svgA"></span>
                </div>
                <div>
                    <h3>2022-2024</h3>
                    <h1>Altair Formación Profesional</h1>
                    <p class="date">CFGS Desarrollo de Aplicaciones Web (DAW)</p>
                </div>
            </div>
        </div>
    </div>
</section>