<div class="portfolio">
    <div class="container-own">
        <app-navbar></app-navbar>
        <app-hero id="hero"></app-hero>
        <div class="spacer"></div>
        <app-proyectos id="proyectos"></app-proyectos>
        <div class="spacer"></div>
        <app-trayectoria id="experience"></app-trayectoria>
        <div class="spacer"></div>
        <app-skills id="skills"></app-skills>
        <div class="spacer"></div>
        <app-about id="about"></app-about>

        <div class="final">
            <app-signature></app-signature>
        </div>
    </div>

</div>