<section class="projects">
    <div class="projects-content">
        <h1 class="title">MIS PROYECTOS</h1>
        <p class="description">
            Aquí un resumen de algunos de los proyectos que he construido en mi camino como desarrollador. Puedes
            descubrir más
            en mi perfil de <span class="hl"><a>GitHub</a></span>, donde tengo el resto de mis <span
                class="hl">repositorios disponibles</span>.
        </p>
        <div class="projects-container">
            <div class="project">
                <img src="assets/img/nutriweb.webp" class="project-image" alt="Project Image">
                <div class="details">
                    <h1 class="project-title">Nutriweb</h1>
                    <p class="project-description">Proyecto web online dirigido a los amantes del fitness que quieren
                        llevar un registro de sus macros diariamente, con una interfaz fácil de usar.</p>
                    <div class="tech-container">
                        <span class="tech">
                            <i class="devicon-java-plain"></i>
                            Java</span>
                        <span class="tech">
                            <i class="devicon-spring-original"></i>
                            Spring</span>
                        <span class="tech">

                            <i class="devicon-hibernate-plain"></i>

                            Hibernate</span>
                        <span class="tech">
                            <i class="devicon-angular-plain"></i>
                            Angular</span>
                        <span class="tech">
                            <i class="devicon-sass-original"></i>
                            Sass</span>
                        <span class="tech">
                            <i class="devicon-bootstrap-plain"></i>
                            Bootstrap</span>
                    </div>
                    <a class="git-link" href="https://github.com/pablolop12/Nutriweb-Nutritional-Tracker" target="_blank"><i class="fa-brands fa-github me-2"></i>Visitar repositorio</a>
                </div>
            </div>

            <div class="project">
                <img src="assets/img/shortly.webp" class="project-image" alt="Project Image">
                <div class="details">
                    <h1 class="project-title">Shortly</h1>
                    <p class="project-description">Este es un acortador de URL que ahorra tiempo, sin distracciones, sin
                        inicios de sesión, sin pasos adicionales, simplemente acorte su enlace y listo.</p>
                    <div class="tech-container">
                        <span class="tech">
                            <i class="devicon-java-plain"></i>
                            Java</span>
                        <span class="tech">
                            <i class="devicon-spring-original"></i>
                            Spring</span>
                        <span class="tech">

                            <i class="devicon-hibernate-plain"></i>

                            Hibernate</span>
                        <span class="tech">
                            <i class="devicon-angular-plain"></i>
                            Angular</span>
                        <span class="tech">
                            <i class="devicon-sass-original"></i>
                            Sass</span>
                        <span class="tech">
                            <i class="devicon-bootstrap-plain"></i>
                            Bootstrap</span>
                    </div>
                    <a class="git-link" href="https://github.com/pablolop12/Shortly-URL-Shortener" target="_blank"><i class="fa-brands fa-github me-2"></i>Visitar repositorio</a>
                </div>
            </div>

            <div class="project">
                <img src="assets/img/fitplanner.webp" class="project-image" alt="Project Image">
                <div class="details">
                    <h1 class="project-title">Fitplanner</h1>
                    <p class="project-description">Este proyecto ayuda a deportistas a mantener un horario
                        diario de rutinas de ejercicio y dietas. Crea tus propias rutinas y dietas y regístralas.</p>
                    <div class="tech-container">
                        <span class="tech">
                            <i class="devicon-java-plain"></i>
                            Java</span>
                        <span class="tech">
                            <i class="devicon-spring-original"></i>
                            Spring</span>
                        <span class="tech">

                            <i class="devicon-hibernate-plain"></i>

                            Hibernate</span>
                        <span class="tech">
                            <i class="devicon-angular-plain"></i>
                            Angular</span>
                        <span class="tech">
                            <i class="devicon-sass-original"></i>
                            Sass</span>
                        <span class="tech">
                            <i class="devicon-bootstrap-plain"></i>
                            Bootstrap</span>
                    </div>
                    <a class="git-link" href="https://github.com/pablolop12/Fitplanner-Routine-Manager" target="_blank"><i class="fa-brands fa-github me-2"></i>Visitar repositorio</a>
                </div>
            </div>

            <!--
            <div class="extra-projects d-flex align-items-center justify-content-center" [ngClass]="{'expanded': showMore}">
                <div class="project">
                    <img src="assets/img/placeholder.webp" class="project-image" alt="Project Image">
                    <div class="details">
                        <h1 class="project-title">Proyecto</h1>
                        <p class="project-description">Lorem ipsum dolor sit amet consectetur adipiscing, elit eros
                            venenatis nascetur potenti in id, ligula cursus porta morbi nostra.</p>
                        <div class="tech-container">
                            <span class="tech">
                                <i class="devicon-java-plain"></i>
                                Java</span>
                            <span class="tech">
                                <i class="devicon-spring-original"></i>
                                Spring</span>
                            <span class="tech">

                                <i class="devicon-hibernate-plain"></i>

                                Hibernate</span>
                            <span class="tech">
                                <i class="devicon-angular-plain"></i>
                                Angular</span>
                            <span class="tech">
                                <i class="devicon-sass-original"></i>
                                Sass</span>
                            <span class="tech">
                                <i class="devicon-bootstrap-plain"></i>
                                Bootstrap</span>
                        </div>
                        <a class="git-link"><i class="fa-brands fa-github me-2"></i>Visitar repositorio</a>
                    </div>
                </div>
            </div>
            -->
        </div>


        <!--
        <div class="text-center">
            <span class="textToggle" (click)="toggleShowMore()">
                {{ showMore ? 'Mostrar menos proyectos' : 'Mostrar más proyectos' }}
                <i class="fa ms-2" [ngClass]="showMore ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span  >
        </div>
        -->

    </div>
</section>