<section class="hero">
    <div class="magicpattern">
        <div class="hero-content">
            <p class="subtitle">Desarrollador Full-Stack</p>
            <h1 class="title">
                PABLO<br>
                LÓPEZ
            </h1>
            <p class="description">
                Desarrollador de software con sólida experiencia en tecnologías Full-Stack, con un enfoque en la
                creación de soluciones eficientes, escalables y creativas.
            </p>

            <div class="contact-buttons">
                <a href="https://github.com/pablolop12" target="_blank" class="btn-own"><i
                        class="bi bi-github me-2"></i>GitHub</a>
                <a href="https://www.linkedin.com/in/lopezonline/" target="_blank" class="btn-own"><i
                        class="bi bi-linkedin me-2"></i>LinkedIn</a>
                <a href="" target="_blank" class="btn-own"><i class="bi bi-download me-2"></i>Descargar CV</a>

                <a class="btn-own" id="copyEmailBtnContact">
                    <i class="fa-solid fa-envelope text-semi2 me-1"></i>
                    <span class="text-semi2">pablolopezlujan01&#64;gmail.com</span><i
                        class="fa fa-copy text-semi2 ms-2"></i>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/lopezonline/" target="_blank"
                    class="disponibilidad d-flex align-items-center">
                    <span class="dot2 me-2"></span> Abierto a nuevas oportunidades
                </a>
            </div>
            <div class="scrollIncent text-center">
                <span class="d-block text-center">¡Scrollea!</span>
                <span class="d-block"><i class="bi bi-mouse"></i></span>
                <span class="d-block"><i class="bi bi-chevron-down"></i></span>
            </div>
        </div>
    </div>
</section>