<section class="projects">
  <div class="projects-content row align-items-center">
    <!-- Texto -->
    <div class="text-content col-lg-8 col-12 mb-4 mb-lg-0">
      <h1 class="title">MI PERFIL</h1>
      <p class="description">
        La tecnología es<span class="hl"> una gran pasión personal</span>. Disfruto aprender constantemente
        nuevas herramientas y aplicarlas en proyectos donde pueda aportar soluciones prácticas y bien pensadas.
        No me quedo solo en escribir código; me gusta entender el problema y darle forma para
        <span class="hl">mejorar como profesional</span>.
        <br><br>
        Aquellos que me conocen me podrían considerar como alguien <span class="hl">creativo</span>,
        <span class="hl">adaptable</span>, con <span class="hl">atención al detalle</span> y capaz de
        <span class="hl">trabajar en equipo</span>, aunque también capaz de avanzar por cuenta propia cuando el contexto
        lo requiere.
        <br><br>
        Cuento con <span class="hl">gran soltura en inglés</span> y con experiencia en entornos internacionales,
        me siento cómodo comunicándome y colaborando con equipos y proyectos en este idioma.
      </p>
    </div>

    <!-- Imagen -->
    <div class="other-content col-lg-4 col-12 d-flex justify-content-center justify-content-lg-end mb-4 mb-lg-0">
      <img class="img-fluid pfp" src="assets/img/me.webp" alt="Imagen de Pablo López Luján">
    </div>
  </div>

  <!-- Botones de contacto -->
  <div class="contact-buttons d-flex flex-wrap justify-content-center mt-4">
    <a href="https://github.com/pablolop12" target="_blank" class="btn-own">
      <i class="bi bi-github me-2"></i>GitHub
    </a>
    <a href="https://www.linkedin.com/in/lopezonline/" target="_blank" class="btn-own">
      <i class="bi bi-linkedin me-2"></i>LinkedIn
    </a>
    <a href="assets/docs/CV-Pablo-Lopez-Lujan.pdf" download class="btn-own"><i class="bi bi-download me-2"></i>Descargar
      CV</a>
    <a class="btn-own" id="copyEmailBtn">
      <i class="fa-solid fa-envelope text-semi2 me-1"></i>
      <span class="text-semi2">pablolopezlujan01&#64;gmail.com</span>
      <i class="fa fa-copy text-semi2 ms-2"></i>
    </a>
  </div>
</section>