<section class="skills">
    <div class="skills-content">

        <div class="text-content">
            <h1 class="title">MIS SKILLS</h1>
            <p class="description">Actualmente trabajo con un conjunto de tecnologías que me permiten moverme entre
                <span class="hl">Front-End</span> y <span class="hl">Back-End</span>, construir aplicaciones completas y
                tener una visión global del desarrollo.
                <br><br>
                Más allá de las herramientas que ya manejo, siempre estoy buscando maneras de mejorar: explorar nuevas
                tecnologías, probar diferentes entornos e incorporar prácticas que me ayuden a escribir mejor código y
                <span class="hl">aportar más valor</span>en los proyectos.
                <br><br>
                Dentro de mi stack entran otras herramientas no relacionadas directamente con el código como: <span
                    class="hl">Figma</span>, <span class="hl">Trello</span> o <span class="hl">Photoshop</span> entre otros.
            </p>
        </div>

        <div class="skill-wall">
            <div class="skill-container">
                <div class="skill java gris"><i class="devicon-java-plain colored" style="margin-right: 9px;"></i>Java
                </div>
                <div class="skill spring amarillo"><i class="devicon-spring-original colored"
                        style="margin-right: 9px;"></i>Springboot
                </div>
                <div class="skill hibernate gris"><i class="devicon-hibernate-plain colored"
                        style="margin-right: 9px;"></i>Hibernate
                </div>
            </div>
            <div class="skill-container">
                <div class="skill angular amarillo"><i class="devicon-angular-plain colored"
                        style="margin-right: 11.5px;"></i>Angular
                </div>
                <div class="skill html5 gris"><i class="devicon-bootstrap-plain colored"
                        style="margin-right: 11.5px;"></i>Bootstrap
                </div>
                <div class="skill html5 amarillo"><i class="devicon-html5-plain colored"
                        style="margin-right: 11.5px;"></i>HTML5
                </div>
            </div>
            <div class="skill-container">
                <div class="skill sass gris"><i class="devicon-sass-original colored"
                        style="margin-right: 14px;"></i>SASS
                </div>
                <div class="skill postgresql amarillo"><i class="devicon-postgresql-plain colored"
                        style="margin-right: 13.5px;"></i>PostgreSQL</div>
                <div class="skill mysql gris"><i class="devicon-mysql-original colored"
                        style="margin-right: 13.5px;"></i>MySQL</div>
            </div>
            <div class="skill-container">
                <div class="skill github amarillo"><i class="devicon-github-original"
                        style="margin-right: 11px;"></i>GitHub
                </div>
                <div class="skill gitlab gris"><i class="devicon-gitlab-plain colored"
                        style="margin-right: 11px;"></i>GitLab
                </div>
                <div class="skill docker amarillo"><i class="devicon-eclipse-plain"
                        style="margin-right: 11px;"></i>Eclipse IDE
                </div>
            </div>
        </div>

    </div>
</section>